<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Anunciar Produto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-sm="6" size-lg="6" size-xl="8">
        <ion-card>
          <form [formGroup]="productForm">
            <ion-item lines="full">
              <ion-label position="floating">Produto</ion-label>
              <ion-input type="text" required formControlName="title"></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-label position="floating">Categoria</ion-label>
              <ion-select interface="popover" formControlName="category">
                <ion-select-option *ngFor="let productCategory of productCategories" [value]="productCategory">{{
                  productCategory
                }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="full">
              <ion-label position="floating">Descrição</ion-label>
              <ion-input type="text" required formControlName="description"></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-label position="floating">Endereço (Cidade)</ion-label>
              <ion-input type="text" required formControlName="adress" name="adress"></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-label position="floating">Telefone para Contato</ion-label>
              <ion-input type="text" required formControlName="contact"></ion-input>
            </ion-item>

            <ion-item lines="full">
              <ion-label position="floating">Preço</ion-label>
              <ion-input type="price" required formControlName="price"></ion-input>
            </ion-item>

            <ion-item>
              <img class="image-preview" [src]="image" />
            </ion-item>

            <ion-item>
              <ion-input type="file" (change)="onFileSelected($event)" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-button
                color="secondary"
                class="create-button"
                size="default"
                slot="end"
                (click)="createProduct()"
                [disabled]="!productForm.valid"
              >
                Criar anúncio
              </ion-button>
            </ion-item>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
