<ion-content no-bounce>
  <div class="login-background"></div>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-no-padding">
      <ion-col size-sm="8" size-lg="6" size-xl="4" class="ion-align-self-center ion-no-padding">
        <div class="login-header ion-text-center">
          <img class="login-logo" src="assets/logo.png" alt="Logo" />
        </div>
        <div class="login-container">
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <ion-text color="danger" [hidden]="!error || loginForm.dirty || isLoading">
              <span class="ion-padding" translate>Usuario ou senha incorreto</span>
            </ion-text>
            <ion-list>
              <ion-item lines="inset">
                <ion-label color="medium" position="floating" translate>Email</ion-label>
                <ion-input type="text" formControlName="username" autocomplete="username"></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
              >
                <span class="ion-padding" translate>É necessario um email para logar</span>
              </ion-text>
              <ion-item lines="inset">
                <ion-label color="medium" position="floating" translate>Senha</ion-label>
                <ion-input type="password" formControlName="password" autocomplete="current-password"></ion-input>
              </ion-item>
              <ion-text
                color="danger"
                [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
              >
                <span class="ion-padding" translate>É necessario uma senha para logar</span>
              </ion-text>
            </ion-list>
            <div class="ion-padding-horizontal">
              <ion-button
                type="submit"
                [disabled]="loginForm.invalid || isLoading"
                color="primary"
                expand="block"
                translate
              >
                Login
              </ion-button>
              <ion-button
                type="button"
                [disabled]="isLoading"
                [routerLink]="['/register']"
                color="secondary"
                expand="block"
                translate
              >
                Quero me cadastrar
              </ion-button>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
