<ion-header>
  <ion-toolbar>
    <ion-button slot="start" size="large">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-button>
    <ion-img src="../../../assets/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="home-categories-filter">
    <ion-button
      id="home-categories-prev"
      size="small"
      *ngIf="!disablePrevBtn"
      type="submit"
      float-left
      color="primary"
      class="home-categories-prev"
      (click)="prev()"
    >
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-button
      id="home-categories-next"
      size="small"
      *ngIf="!disableNextBtn"
      type="submit"
      float-right
      color="primary"
      class="home-categories-next"
      (click)="next()"
    >
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
    <ion-slides
      class="categories-slider"
      #categorySlider
      [options]="slideOpts"
      (ionSlideWillChange)="arrowVisibility()"
      (ionSlideDidChange)="arrowVisibility()"
      (ionSlideReachEnd)="reachedEnd()"
    >
      <ion-slide>
        <ion-button fill="outline" (click)="listAll()">
          Todos
        </ion-button>
      </ion-slide>
      <ion-slide *ngFor="let category of categories">
        <ion-button fill="outline" (click)="listByCategory(category)">
          {{category}}
        </ion-button>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="3" sizeMd="4" sizeXs="12" *ngFor="let product of products">
        <ion-card class="flip-card ion-text-center">
          <div class="flipper">
            <div class="front">
              <img class="product-img" [src]="product.image" />
              <h1 class="product-title">{{ product.title }}</h1>
              <ion-text color="primary">
                <h2 class="product-price">R${{ product.price }}</h2>
              </ion-text>
            </div>
            <div class="back">
              <div class="back-container">
                <h1>{{ product.title }}</h1>
                <ion-text color="primary">
                  <h2 class="product-price">R${{ product.price }}</h2>
                </ion-text>
                <ion-text>
                  <p><strong>Descrição</strong>: {{ product.description }}</p>
                  <p><strong>Endereço</strong>: {{ product.adress }}</p>
                  <p><strong>Telefone para contato</strong>: {{ product.contact }}</p>
                </ion-text>
                <ion-button class="whats-button" color="success" [href]="product.whatsappContact" target="_blanket">
                  <ion-icon name="logo-whatsapp"></ion-icon> Chamar no whats!
                </ion-button>
              </div>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
