<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Feed de produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card start>
        <ion-card-header>
          <img class="product-img" src="assets/ngx-rocket-logo.png" />
          <ion-card-title>Placa de video</ion-card-title>
          <h2>R$ 500,00</h2>
        </ion-card-header>
        <ion-card-content>
          Produto em otimo estado, ainda na caixa. Estou vendendo pois comprei outra.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
