<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Feed de produtos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let product of products">
        <ion-card>
          <ion-card-header>
            <img class="product-img" [src]=product.image />
            <ion-card-title>{{ product.title }}</ion-card-title>
            <ion-card-subtitle>{{ product.category }}</ion-card-subtitle>
            <h2>R${{ product.price }}</h2>
          </ion-card-header>
          <!-- <ion-card-content>
            {{ product.description }}
          </ion-card-content> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
