<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="assets/logo.png" routerLink="/tabs/feed" alt="logo" class="logo" />
    </ion-title>
    <ion-button
      fill="clear"
      slot="end"
      class="profile"
      size="large"
      routerLink="/tabs/profileUpdate"
      [replaceUrl]="true"
    >
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
