<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Editar Produto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <form>
      <ion-item lines="full">
        <ion-label position="floating">Produto</ion-label>
        <ion-input type="text" required [(ngModel)]="product.title" name="title"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Categoria</ion-label>
        <ion-input type="text" required [(ngModel)]="product.category" name="category"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Descrição</ion-label>
        <ion-input type="text" required [(ngModel)]="product.description" name="description"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Endereço (Cidade)</ion-label>
        <ion-input type="text" required [(ngModel)]="product.adress" name="adress"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Telefone para Contato</ion-label>
        <ion-input type="text" required [(ngModel)]="product.contact" name="contact"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-label position="floating">Preço</ion-label>
        <ion-input type="price" required [(ngModel)]="product.price" name="price"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="file" (change)="onFileSelected($event)"></ion-input>
      </ion-item>

      <ion-button (click)="updateProduct(product)">Editar Produto</ion-button>
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </form>
  </ion-card>
</ion-content>

