<ion-menu side="start" contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="menu-div">
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/feed" [replaceUrl]="true" routerLinkActive="active">
            <ion-icon name="cart" slot="start"></ion-icon>
            <ion-label>Feed</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/product" [replaceUrl]="true" routerLinkActive="active">
            <ion-icon name="pricetag" slot="start"></ion-icon>
            <ion-label>Anunciar</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/tabs/myProducts" [replaceUrl]="true" routerLinkActive="active">
            <ion-icon name="pricetags" slot="start"></ion-icon>
            <ion-label>Meus produtos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/login" [replaceUrl]="true" (onclick)="logout()">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Deslogar</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>
<app-header></app-header>
<ion-content id="main-content">
  <ion-router-outlet main></ion-router-outlet>
</ion-content>
