$tabs-width: 110px;
$tabs-height: $tabs-width;

ion-menu {
  --ion-background-color: #f0f0f0;
}

ion-icon {
  color: #6034b2;
}

.menu-div {
  ion-item {
    --border-style: none;
    --border-color: transparent;
    margin-bottom: 1rem;
    padding-left: 1rem;
    --color-hover: #6034b2;
    ion-label {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
